///BreakPoints///

@mixin mobile {
    @media only screen and (max-width: 400px) {
      @content;
    }
  }
@mixin break600 {
    @media only screen and (max-width:600px) {
        @content;
      }
}
@mixin break800 {
    @media only screen and (max-width:800px) {
        @content;
      }
}
@mixin break1000 {
    @media only screen and (max-width:1000px) {
        @content;
      }
}
@mixin break1250 {
    @media only screen and (max-width:1250px) {
        @content;
      }
}
@mixin break1600min {
    @media only screen and (min-width:1601px) {
        @content;
      }
}
@mixin break1600max {
    @media only screen and (max-width:1601px) {
        @content;
      }
}
@mixin break2000 {
    @media only screen and (min-width:1900px) {
        @content;
      }
}

///Colors & Background///

$white: #ffffff;
$grey: #9fa3a7;
$tomato: #f05638;
$blueBackground : url(./Public/blueblackground.png);
$blueBackground2 : url(./Public/blueblackground2.png);


///Fonts///

@font-face {
    font-family: 'SegoeUIlight';
      src: url('./Public/Segoe/Light.woff') format('woff');
}
@font-face {
    font-family: 'SegoeUIregular';
      src: url('./Public/Segoe/Regular.woff') format('woff');
}
@font-face {
    font-family: 'SegoeUIbold';
      src: url('./Public/Segoe/Bold.woff') format('woff');
}

///General///

body{
    margin:0;
}

.Landing {
    width: 100em;
    padding: 0 0 112px 0;
    @include mobile {
        padding: 0;
}
}

///Background & Phone///

#blueBackground{
    display:flex;
    flex-direction: row;
    width: 100em;
    height: 759px;
    background-image: $blueBackground;
    background-size: cover;

    @include break1600min{
        width:125em;
    }
    @include break2000{
        width:150em;
    }
    @include break1250{
        width:100em;
    }
    @include break600{
        width:100em;
    }   
    @include mobile {
        flex-direction: column;
        width: 325px;
        height: 578px;
        background-image: $blueBackground2;
        background-size:cover;
    }  
}

#phone{
    display: flex;
    width: 374px;
    height: 732px;
    margin: 74px 167px 0 274px;
    @include break1000{
        height:680px;
        margin: 200px 25px 0 50px;
    }
    @include break800{
        height:650px;
        margin: 200px 0px 0 50px;
    }
    @include mobile {
        width: 221px;
        height: 185px;
        margin: 95px 0px 291px 28px;
    }
}

///TEXT///

#text{
    display: flex;
    flex-direction: column;
    margin: 164px 0 0 0;
    color: $white;
    @include break1000{
        margin: 270px 0 0 0;
    }
    @include break800{
        margin: 270px 0 0 0;
    }
    @include mobile {
        align-items: center;
        margin:0px;
    }
}
#textContainer{
    display: flex;
    flex-direction: column;
    
}
#text h2{
    font-family: 'SegoeUIlight';
    width: 645px;
    height: 116px;
    margin: 29px 26px 30px 0;
    font-size: 48px;
    font-weight: 300;
    line-height: 1.21;

    @include break1000{
        width: 450px;
        margin: 23px 0px 4px 0;
        font-size:33px;
        line-height: 1.17;
    }
    @include break800{
        width: 300px;
        height: 90px;
        margin: 23px 0px 4px 0;
        font-size:28px;
        line-height: 1.17;
    }
    @include mobile {
        width: 280px;
        height: 84px;
        margin: 23px 0px 4px 0;
        font-size: 24px;
        line-height: 1.17;
        text-align: center;
    }
}
#text p{
    font-family: 'SegoeUIregular';
    width: 645px;
    margin:  0px 26px 48px 0;
    opacity: 0.7;
    font-size: 24px;
    line-height: 1.42;
    @include break1000{
        width: 350px;
        height: 48px;
        margin: 9px 0px 40px 0;
        font-size: 20px;
        line-height: 1.5;
    }
    @include break800{
        width: 280px;
        height: 48px;
        margin: 9px 0px 40px 0;
        font-size: 17px;
        line-height: 1.5;
    }
    @include mobile {
        width: 280px;
        height: 48px;
        margin: 9px 0px 26px 0;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
    }
}
#text img{
    width: 132px;
    height: 42px;
    @include mobile {
        width: 132px;
        height: 42px;
        margin: -542px 94px 208px 94px;
    }
}

///FORM Email///

.email-form{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#email{
    width: 275px;
    height: 55px;
    border-radius: 8px 0 0 8px;
    border: none;
    background-color: $white;
    @include break800{
        width: 168px;
        height:45px;
    }
    @include mobile{
        width: 168px;
        height:45px;
    }
}
input#email{
    font-family: 'SegoeUIregular';
    font-size: 20px;
    color: $grey;
    line-height: 1.2;
    padding-left: 20px;
    @include break800{
        font-size: 16px;
    }
    @include mobile{
        font-size: 16px;
    }
}
#send{
    width: 122px;
    height: 57px;
    padding: 18px 18px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: $tomato;
    //text//
    font-family: 'SegoeUIbold';
    font-size: 14px;
    letter-spacing: 2.8px;
    text-align: center;
    color: $white;

    @include break800{
        width: 92px;
        height:47px;
        padding: 0px;

    }
    @include mobile{
        width: 92px;
        height:47px;
        padding: 0px;

    }
}

///Social Logos///

#social{
    @include mobile{
        display:none ;
    }
    @include break600{
        display:none;
    }
}
#mail{
    position:absolute;
    left: 93%;
    top:4%;
    width: 35px;
    height:35px;
    @include break1600max{
        left: 93em;
    }
}
#twitter{
    position:absolute;
    left: 96%;
    top:4%;
    width: 35px;
    height:35px;
    @include break1600max{
        left: 96em;
    }
}
