@font-face {
  font-family: 'SegoeUIlight';
  src: url("./Public/Segoe/Light.woff") format("woff");
}

@font-face {
  font-family: 'SegoeUIregular';
  src: url("./Public/Segoe/Regular.woff") format("woff");
}

@font-face {
  font-family: 'SegoeUIbold';
  src: url("./Public/Segoe/Bold.woff") format("woff");
}

body {
  margin: 0;
}

.Landing {
  width: 100vw;
  padding: 0 0 112px 0;
}

@media only screen and (max-width: 400px) {
  .Landing {
    padding: 0;
  }
}

#blueBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 759px;
  background-image: url(./Public/blueblackground.png);
  background-size: cover;
}

@media only screen and (max-width: 1250px) {
  #blueBackground {
    width: 150vw;
  }
}

@media only screen and (max-width: 600px) {
  #blueBackground {
    width: 250vw;
  }
}

@media only screen and (max-width: 400px) {
  #blueBackground {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 325px;
    height: 578px;
    background-image: url(./Public/blueblackground2.png);
    background-size: cover;
  }
}

#phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 374px;
  height: 732px;
  margin: 74px 167px 0 274px;
}

@media only screen and (max-width: 400px) {
  #phone {
    width: 221px;
    height: 184px;
    margin: 95px 0px 291px 28px;
  }
}

#text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 164px 0 0 0;
  color: #ffffff;
}

@media only screen and (max-width: 400px) {
  #text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px;
  }
}

#text h2 {
  font-family: 'SegoeUIlight';
  width: 645px;
  height: 116px;
  margin: 29px 26px 30px 0;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.21;
}

@media only screen and (max-width: 400px) {
  #text h2 {
    width: 280px;
    height: 84px;
    margin: 23px 0px 4px 0;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }
}

#text p {
  font-family: 'SegoeUIregular';
  width: 645px;
  height: 68px;
  margin: 0px 26px 48px 0;
  opacity: 0.7;
  font-size: 24px;
  line-height: 1.42;
}

@media only screen and (max-width: 400px) {
  #text p {
    width: 280px;
    height: 48px;
    margin: 9px 0px 26px 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}

#text img {
  width: 132px;
  height: 42px;
}

@media only screen and (max-width: 400px) {
  #text img {
    width: 132px;
    height: 42px;
    margin: -542px 94px 208px 94px;
  }
}

.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#email {
  width: 275px;
  height: 55px;
  border-radius: 8px 0 0 8px;
  border: none;
  background-color: #ffffff;
}

@media only screen and (max-width: 400px) {
  #email {
    width: 168px;
    height: 45px;
  }
}

input#email {
  font-family: 'SegoeUIregular';
  font-size: 20px;
  color: #9fa3a7;
  line-height: 1.2;
  padding-left: 20px;
}

@media only screen and (max-width: 400px) {
  input#email {
    font-size: 16px;
  }
}

#send {
  width: 122px;
  height: 57px;
  padding: 18px 18px;
  border-radius: 0 8px 8px 0;
  border: none;
  background-color: #f05638;
  font-family: 'SegoeUIbold';
  font-size: 14px;
  letter-spacing: 2.8px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 400px) {
  #send {
    width: 92px;
    height: 47px;
    padding: 0px;
  }
}

#social {
  position: absolute;
}

@media only screen and (max-width: 400px) {
  #social {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  #social {
    display: none;
  }
}

#mail {
  width: 35px;
  height: 35px;
  margin: 0 10px;
  margin-left: 93vw;
  margin-top: 40px;
}

#twitter {
  width: 35px;
  height: 35px;
}
/*# sourceMappingURL=style.css.map */